nav {
    min-height: 10vh;

    #title{
        font-size: 1.5rem;
        margin: 0;
        font-weight: 700;
    }

    ul{
        padding-right: 1rem;

        li{

            font-size: 1.2rem;
            margin-left: 1rem;
            a{
                padding: 1rem 2rem !important;
                border-radius: 20px;
                &:hover{
                    background-color: white;
                    color: black !important;
                }
            }
            
        }
    }
}